<ion-header class="headerSignUp">
    <ion-toolbar class="headerSignUp">
        <ion-grid>
            <ion-row>
            <ion-col size="1" class="ion-align-self-center">
              <span class="material-icons backCustom" routerLink="/login">arrow_back</span>  
            </ion-col>
            <ion-col size="11">
                <ion-grid>
                    <ion-row> 
                        <ion-col 
                            size="12" 
                            class="ion-align-self-center">
                            <ion-title class="textSignUpV2">
                                <span class="material-icons personCustom">
                                    person
                                </span>     
                                Tu cuenta personal
                            </ion-title> 
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            </ion-row>
        </ion-grid>            
    </ion-toolbar>
</ion-header>

<ion-content class="contentSignUp">
    <ion-title class="titleSignUp"><b>Crea tu cuenta,</b> es muy sencillo.</ion-title>
    <form [formGroup]="form" class="formSignUp">
        <ion-grid>
            <ion-row>
             <ion-col size="12" class="ion-align-self-center colSignUp">

                <label>Nombre</label>
                <ion-item class="itemSingUp">
                    <ion-input 
                        class="inputSignUp" 
                        type="text" 
                        placeholder="Nombre" 
                        autoComplete="nope" 
                        formControlName="name">
                    </ion-input>
                </ion-item>                    
                    <div 
                    class="validation-errors errorNameV2" 
                    *ngIf="fieldValid('name')">
                        Ingrese su nombre
                    </div>

                <label>Apellido</label>
                <ion-item class="itemSingUp">
                    <ion-input 
                        class="inputSignUp" 
                        type="text" 
                        placeholder="Apellido"
                        autoComplete="nope"  
                        formControlName="surname">
                    </ion-input>
                </ion-item>
                    <div 
                        class="validation-errors errorNameV2" 
                        *ngIf="fieldValid('surname')">
                        Ingrese su Apellido
                    </div>

                <label>Genero</label>
                <ion-item class="itemSingUp">
                        <ion-select 
                            class="inputSignUp" 
                            value="Sin especificar" 
                            placeholder="Sin especificar" 
                            formControlName="genre" 
                            okText="Okay" 
                            cancelText="Dismiss">
                            <ion-select-option value="Masculino">
                                Masculino
                            </ion-select-option>
                            <ion-select-option value="Femenino">
                                Femenino
                            </ion-select-option>
                        </ion-select>
                </ion-item>
                <div 
                    class="validation-errors errorNameV2" 
                    *ngIf="fieldValid('genre')">
                    Ingrese su Genero
                </div>
             </ion-col> 

             <ion-col size="12" class="ion-align-self-center colSignUp">
                <label>Correo electrónico</label>
                <ion-item class="itemSingUp">
                    <ion-input 
                        class="inputSignUp" 
                        type="text" 
                        placeholder="Email" 
                        name="email"
                        autoComplete="nope"  
                        formControlName="email">
                    </ion-input>
                </ion-item>
                    <div 
                        class="validation-errors errorNameV2" 
                        *ngIf="fieldValid('email')">
                        Ingrese su Correo Electrónico
                    </div>

                <label>Contraseña</label>
                <ion-item class="itemSingUp">
                    <ion-input 
                        class="inputSignUp" 
                        type="password" 
                        placeholder="Contraseña" 
                        name="password"
                        formControlName="password">
                    </ion-input>
                </ion-item>
                <div 
                    class="validation-errors errorNameV2" 
                    *ngIf="fieldValid('password')">
                    Ingrese su contraseña
                </div>
             </ion-col> 
            </ion-row>    
        </ion-grid>                   

        <ion-button
            class="buttonCustom" 
            expand="block" 
            type="submit" 
            (click)="create()">
            CREAR CUENTA
            <span 
                class="material-icons icon-nextV2">
                arrow_forward_ios
            </span>
        </ion-button>

    </form>
</ion-content>
