<ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button tab="home" class="iconTab">
            <ion-icon name="home-outline" class="iconTab"></ion-icon>
            <ion-label color="success">Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="sell" class="iconTab">
            <ion-icon name="cash-outline" class="iconTab"></ion-icon>
            <ion-label color="success">Vender</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="transactions" class="iconTab">
            <ion-icon name="list-outline" class="iconTab"></ion-icon>
            <ion-label color="success">Transacciones</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="user" class="iconTab">
            <ion-icon name="person-outline" class="iconTab"></ion-icon>
            <ion-label color="success">Info</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>